body, header, main, nav, ul, li, a, div, label, input {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 14px;
}
#wrapper {
    width: 1000px;
    margin: 0 auto;
}
nav {
    background-color: #384452;
}
li {
    list-style-type: none;
    display: inline-block;
}
a {
    padding: 20px 30px 20px 55px;;
    color: #ACB8C8;
    text-decoration: none;
    display: inline-block;
}
a:hover {
    background-color: #3BBC96;
    color: #fff;
}
.search {
    background: url('../images/03-tab01.png') no-repeat 5%;
    background-color: #3BBC96;
    color: #fff;
}
.business {
    background: url('../images/03-tab02.png') no-repeat 5%;
}
.recent {
    background: url('../images/03-tab03.png') no-repeat 5%;
}
.agents {
    background: url('../images/03-tab04.png') no-repeat 5%;
}
main {
    background-color: #EEE;
    padding: 30px;
}
label {
    display: block;
    margin-bottom: 20px;
    color: #394154;
    font-weight: bold;
}
main div {
    display: inline-block;
    width: 24.5%;
    margin-bottom: 20px;
}
input {
    width: 90%;
    padding: 15px;
}
.submit {
    background-color: #3BBC96;
    border: none;
    color: #FFF;
    border-radius: 5px;
}
.submit:hover {
    background-color: #384452;
    cursor: pointer;
    color: #D3F7FF;
}
