@font-face {
font-family: Animated;
src: url(fonts/Animated.ttf);
}
body {
    margin:0;
}
div {
    width: 900px;
    height: 600px;
    margin: 0 auto;
}
.container{
    background: -webkit-radial-gradient(20% 20%, farthest-corner, #ffffff 2%, #f9f7b5 8%, #ffffff 15%, #0062db 50%); 
    background: -o-radial-gradient(20% 20%, farthest-corner, #ffffff 2%, #f9f7b5 8%, #ffffff 15%, #0062db 50%);
    background: -moz-radial-gradient(20% 20%, farthest-corner, #ffffff 2%, #f9f7b5 8%, #ffffff 15%, #0062db 50%);
    background: radial-gradient(farthest-corner at 20% 20%, #ffffff 2%, #f9f7b5 8%, #ffffff 15%, #0062db 50%);
}
.inner {
    font-family: Animated;
    background-image: url("images/TediHula.png"),
                      url('images/PetiaHula.png'),
                      url('images/VladoGHula.png'),
                      url("images/AlexHula.png"),
                      url("images/NakovHula.png"),
                      url("images/VladoKHula.png"),
                      url('images/HawaiiBackground.png');
    background-position: 265px 365px, 185px 195px, 45px 225px, 495px 205px, 415px 160px, 675px 235px, 0 0;
    background-repeat:no-repeat;
    text-align:right;
}
h1{
    padding:15px;
    color:#FDBC21;
    font-size:45px;
}


