* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
    font-size:14px;
    vertical-align:baseline;
}
body{
    background-color: #000;
}
.wrapper{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    background-color: #fff;
}
header div {
    height: 270px;
    background-image: url('images/headerBackground.jpg');
    background-repeat:no-repeat;
    background-position: top center;
    position:relative;
    background-size: 100% 100%;
}
header h1{
    position:absolute;
    color:#FFF;
    bottom: 13%;
    right:3%;
    font-size:2.2em;
}
nav{
    background-color:#E7E7E7;
    min-height:50px;
}
ul{
    border-bottom: 1px solid #FFF; 
}
li{
    list-style-type:none;
    display:inline-block;
    border-right: 1px solid white;
    width:15%;
    text-align:center;
}
li:hover{
    background-color:#B8B8B8;
}
nav a{
    text-decoration:none;
    text-transform:uppercase;
    color: #626161;
    line-height:48px;
    font-size:1.3rem;
}
nav a:hover {
    color: #fff;
}
.container{
    width:100%;
    padding: 20px 40px;
}
.container a{
    color:#80BA3B;
    font-weight:bold;
}
h2{
    text-transform:uppercase;
    color:#80BA3B;
    margin-bottom: 20px;
    font-size:1.6rem;
}
main section:last-child h2{
    text-transform:capitalize;
}
.link {
    display:inline-block;
    margin-top:20px;
}
main {
    display:inline-block;
    width:70%;
    float:left;
}
aside {
    width: 25%;
    display:inline-block;
    float:right;
}
section, aside{
    border: 2px solid #E7E7E7;
    border-radius: 15px;
    display:inline-block;
    margin-bottom: 20px;
    padding:15px;
}
.image{
    float:left;
    width:26%;
    height:auto;
    margin-right:20px;
}
.text{
    margin-left: 180px;
}
article{
    margin-bottom: 5%;
    height: 100%;
}
.news {
    background-color:#EEE;
}
footer {
    clear:both;
    background-color: #93CB2D;
    text-align:center;
    height:80px;
    padding-top:3%;
}
footer a{
    color:#000;
}
@media only screen and (max-width: 768px){
    header div {
        height: 150px;
    }
    .container{
        padding: 20px 0;
    }
    .news article {
        display:inline-block;
    }
    li{
        width:19.5%;
    }
    main {
        display:block;
        float:none;
        width:100%;
    }
    aside {
        float:none;
        width:100%;
    }
    h2, h5 {
        text-align: center;
    }
}
@media only screen and (max-width: 640px){
    header h1 {
        font-size:1.6em;
    }
    .image {
        display:block;
        float:none;
    }
    .text {
        display: block;

        margin-left:0px;
    }
    li{
        width:100%;
        display:block;
        border: 1px solid #FFF;
    }
    li:nth-child(n+2){
        border-top:none;
    }
    .image {
        width:100%;
        margin-bottom:15px;
    }
    img {
        display:block;
        width:50%;
        margin:0 auto;
    }
}
