*{
    margin:0px;
    padding:0px;
}
.container{
    font-family:Tahoma;
    width:700px;
    height:400px;
    background-color: #EEEEEE;
    padding:15px;
}
.register, .log{
    float:left;
    width: 46%;
    height:280px;
    display:block;
    padding: 15px 14px 0 14px;
}
.log{
    background-color:#234465;
}
.register{
    padding-bottom:0;
}
h2, span{
    color:#284968;
}
h4{
    text-transform:uppercase;
}
.register h4{
    color:#666666;
    margin-bottom: 5px;
}
.log h4{
    color: #FFF;
    padding-bottom:10px;
}
input[type=text], input[type=email], input[type=password]{
    width:92%;
    padding:10px;
    margin:5px 0 5px 0;
}
p{
    margin: 20px 0 30px 0;
    font-size:14px;
    color:#666666;
}
#login, #reg{
    padding:8px;
    font-size: 16px;
    float:right;
    font-weight:600;
}
#reg{
    width:60%;
    color:#284968;
    border:2px solid #284968;
    background-color:#EEEEEE;
    margin:21px 4px 0 0;
}
#login{
    border:2px solid #FFAA00;
    background-color: #234465;
    color: #FFF;
    width:45%;
    margin: 10px 4px 0 0;
}
a{
    clear:both;
    color:#FFF;
    float:right;
    margin: 10px;
    font-size: 14px;
    font-weight:700;
}
.radio{
    float:left;
    margin-top: 10px;
}
#remember{
    height: 20px;
    width: 20px;
    -moz-appearance: none;
}
label{
    vertical-align:top;
    font-size:12px;
    color:#FFF;
}